<div class="w-100 my-3 d-flex flex-wrap justify-content-around players">
  @for (player of players(); track player) {
  <div class="p-3" [class.active]="player === activePlayer()">
    <app-player-hand [player]="player" [isActive]="player === activePlayer()"
      [isDisabled]="player !== activePlayer() && disableOtherPlayers()"
      (hintRequest)="activePlayer()?.giveHint($event.to, $event.card, $event.hint)"
      (blockRequest)="disableOtherPlayers.set($event)">
    </app-player-hand>
  </div>
  }
</div>