<h3>Fireworks</h3>
<div class="w-100 my-3 d-flex flex-wrap justify-content-around board">
  <div *ngFor="let color of allSingleColors" class="d-flex justify-content-center align-items-center m-2 firework"
    [class.card]="isFireworkEmpty(color)" [class.finished]="isFireworkFinished(color)"
    [class]="getBackgroundClass(color)">
    <app-card *ngFor="let card of getCards(color)" [card]="card"></app-card>
    <i-bs *ngIf="isFireworkFinished(color)" name="check-circle" width="2rem" height="2rem"></i-bs>
  </div>
</div>