@use '../card/card'

\:host
  display: block

$card-offset-x: 2
$card-offset-y: 0.2
$max-cards-in-firework: 5

.firework
  width: card.$card-width
  height: card.$card-height

  &:empty
    padding: 0.5rem
    background-clip: content-box // show the background color inside the content are, not padding
    border: 1px dashed black
    opacity: 0.3

  > *
    position: absolute
    transition: transform ease 300ms

    &:hover, &:hover ~ * // not yet supported preceding sibling selector: , &:has(~ :hover)
      z-index: 100 // show expanded firework over other fireworks
      @for $i from 0 to $max-cards-in-firework
        &:nth-child(#{$i + 1})
          transform: translate(#{$card-offset-x * $i}rem, #{$card-offset-y * $i}rem)
