/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

@mixin colored($color, $text-color: black, $border-color: $color)
  .#{"" + $color}
    background-color: $color
    color: $text-color
    &.btn, &.bordered
      border: 1px solid $border-color
      border-radius: $border-radius

@include colored(blue, white)
@include colored(green, white)
@include colored(red, white)
@include colored(white, black, black)
@include colored(yellow, black)

.colorful
  background-image: linear-gradient(to bottom, blue, green, white, yellow, red)
  color: white

.w-200
  width: 200%
