/* You can add global styles to this file, and also import other style files */

.bg-colorful
  background-image: linear-gradient(to bottom, #0d6efd, #198754, #f8f9fa, #ffc107, #dc3545)
  color: white

.w-200
  width: 200%
