<h1>Hanabi</h1>
@if (logic(); as game) {
  @defer (when game) {
    <app-game-board [game]="game"></app-game-board>
  } @loading {
    <div class="d-flex justify-content-center p-5" role="status">Loading game...</div>
  }
} @else {
  <div class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="d-flex flex-column align-items-center">
      @if (gameOverReason(); as gameOver) {
        <h3>Game over</h3>
        <p>{{gameOver.message}}</p>
        <button class="btn btn-lg btn-primary" (click)="gameOverReason.set(undefined)">Play again</button>
      } @else {
        <app-setup (setUp)="start($event)"></app-setup>
      }
    </div>
  </div>
}
