<h1>Hanabi</h1>
<div *ngIf="logic; else noGame" class="w-100 h-100">
  <div class="d-flex justify-content-center">
    <div class=" mx-5 tokens">
      <div class="note">Note tokens: <strong>{{logic.noteTokens}}</strong></div>
      <div class="storm">Storm tokens: <strong>{{logic.stormTokens}}</strong></div>
    </div>
    <div class="mx-5 draw-discard-cards">
      <div class="draw-deck">Draw Deck: <strong>{{logic.drawDeck.cards.length}}</strong></div>
      <div class="discard-pile">Discard Pile: <strong>{{logic.discardPile.cards.length}}</strong></div>
    </div>
  </div>
  <app-firework-board [fireworks]="logic.gameBoard.fireworks" class="my-3"></app-firework-board>
  <hr />
  <app-player-board [players]="logic.players" [activePlayer]="logic.activePlayer"></app-player-board>
</div>

<ng-template #noGame>
  <div class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="d-flex flex-column align-items-center">
      <ng-container *ngIf="gameOverReason; else landingPage">
        <h3>Game over</h3>
        <p>{{gameOverReason.message}}</p>
        <button class="btn btn-lg btn-primary" (click)="start()">Play again</button>
      </ng-container>

      <ng-template #landingPage>
        <h3>Would you like to</h3>
        <button class="btn btn-lg btn-primary" (click)="start()">Play?</button>
      </ng-template>
    </div>
  </div>
</ng-template>
