.highlight
  background-color: light-blue
:host
  display: block


.card
  &.blue
    color: blue

  &.green
    color: green

  &.red
    color: red

  &.white
    color: white
    text-shadow: 0 0 2px black

  &.yellow
    color: yellow
    text-shadow: 0 0 1px black

  &.colorful
    background-image: linear-gradient(to left, blue, green, white, yellow, red)
    -webkit-background-clip: text
    color: transparent
    text-shadow: 0 0 1px black
