@if (player(); as currentPlayer) {
  <h4>{{currentPlayer.name}}</h4>
  <div class="d-flex flex-column position-relative hand">
    @for (hc of currentPlayer.cards(); track hc; let i = $index) {
      <div class="card-wrapper" [class.flipped]="hc === flipped()" @slideLeftLiftUp>
        <app-card [card]="hc.card" [isFlipped]="isActive() && hc !== flipped()" [flipDelay]="getFlipDelay(i)"
          [ngbPopover]="popContent" [popoverTitle]="popTitle" popoverClass="w-200 shadow" autoClose="outside"
          [disablePopover]="isCardDisabled(hc)" [placement]="popoverPlacement" triggers="manual" #popover="ngbPopover"
          (click)="popover.open()" [attr.role]="isCardDisabled(hc) ? undefined : 'button'">
        </app-card>

        <ng-template #popTitle>
          <div class="d-flex justify-content-around align-items-center">
            @if (isActive()) {
              @if (hc === flipped() && isColorful(hc.card.color)) {
                <span>Select Firework Color</span>
              } @else {
                <span>Select Action</span>
              }
            } @else {
              <span>Give Hint</span>
            }
          </div>
        </ng-template>
        <ng-template #popContent>
          <div class="d-flex flex-row justify-content-around align-items-center">
            @if (isActive()) {
              @if (hc === flipped() && isColorful(hc.card.color)) {
                <div class="d-flex flex-column">
                  <!-- TODO show only colors which are applicable, error otherwise -->
                  @for (color of allSingleColors; track color) {
                    <button class="btn btn-sm action" [class]="getButtonClass(color)"
                      (click)="playFlippedColorful(color); popover.close()">
                      Color {{color}}
                    </button>
                  }
                </div>
              } @else {
                <button class="btn btn-sm btn-light action" (click)="playCard(hc) && popover.close()">Play</button>
                <button class="btn btn-sm btn-secondary action" (click)="discardCard(hc); popover.close()">
                  Discard
                </button>
              }
            } @else {
              @if (!isColorful(hc.card.color)) {
                <button class="btn btn-sm action" [class]="getButtonClass(hc.card.color)"
                  (click)="notifyGiveHintRequest(hc, hc.card.color); popover.close()">
                  Color {{hc.card.color}}
                </button>
              } @else {
                <div class="d-flex flex-column">
                  @for (color of allSingleColors; track color) {
                    <button class="btn btn-sm action" [class]="getButtonClass(color)"
                      (click)="notifyGiveHintRequest(hc, color); popover.close()">
                      Color {{color}}
                    </button>
                  }
                </div>
              }
              <button class="btn btn-sm btn-secondary action"
                (click)="popover.close(); notifyGiveHintRequest(hc, hc.card.number)">
                Number {{hc.card.number}}
              </button>
            }
          </div>
        </ng-template>

        @if (isActive() && hc.hasHints()) {
          <div class="d-flex flex-column justify-content-around align-items-center shadow position-absolute p-3 fs-5 sticky-note">
            <strong>{{hc.colorHinted()}}</strong>
            <strong>{{hc.numberHinted()}}</strong>
          </div>
        }
      </div>
    }
  </div>
} @else {
  <span class="fs-4">Loading...</span>
}
