<ng-container *ngIf="player; else loading">
  <h4>{{player.name }}</h4>
  <div class="d-flex flex-column position-relative hand">
    <div *ngFor="let card of player.cards" class="card-wrapper">
      <app-card [card]="card" [isFlipped]="isActive && card !== flippedColorful" [ngbPopover]="popContent"
        [popoverTitle]="popTitle" popoverClass="w-200 shadow" autoClose="outside"
        [disablePopover]="isCardDisabled(card)" [attr.role]="isCardDisabled(card) ? undefined : 'button'">
      </app-card>

      <ng-template #popTitle>
        <div [ngSwitch]="true" class="d-flex justify-content-around align-items-center">
          <ng-container *ngSwitchCase="isActive" [ngSwitch]="flippedColorful">
            <span *ngSwitchCase="card">Select Firework Color</span>
            <span *ngSwitchDefault>Select Action</span>
          </ng-container>
          <span *ngSwitchDefault>Give Hint</span>
        </div>
      </ng-template>
      <ng-template #popContent>
        <div class="d-flex flex-row justify-content-around align-items-center" [ngSwitch]="true">
          <ng-container *ngSwitchCase="isActive" [ngSwitch]="flippedColorful">
            <div *ngSwitchCase="card" class="d-flex flex-column">
              <!-- TODO show only colors which are applicable, error otherwise -->
              <button *ngFor="let color of allSingleColors" class="btn btn-sm action" [class]="getButtonClass(color)"
                (click)="playFlippedColorful(color)">
                Color {{color}}
              </button>
            </div>
            <ng-container *ngSwitchDefault>
              <button class="btn btn-sm btn-light action" (click)="playCard(card)">Play</button>
              <button class="btn btn-sm btn-secondary action" (click)="player.discardCard(card)">Discard</button>
            </ng-container>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <button class="btn btn-sm action" *ngIf="!isColorful(card.color); else allColorActions"
              [class]="getButtonClass(card.color)" (click)="notifyGiveHintRequest(card, card.color)">
              Color {{card.color}}
            </button>
            <ng-template #allColorActions>
              <div class="d-flex flex-column">
                <button *ngFor="let color of allSingleColors" class="btn btn-sm action" [class]="getButtonClass(color)"
                  (click)="notifyGiveHintRequest(card, color)">
                  Color {{color}}
                </button>
              </div>
            </ng-template>
            <button class="btn btn-sm btn-secondary action" (click)="notifyGiveHintRequest(card, card.number)">
              Number {{card.number}}
            </button>
          </ng-container>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <span class="fs-4">Loading...</span>
</ng-template>